header {
    background-color: lightgreen;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.titre {
    text-align: center;
}

.jauge {
    text-align: center;
}

p.credit {
    text-align: center;
}

footer {
    background-color: lightgreen;
    margin: auto;
    padding: 1em;
    text-align: center;
}

table {
    text-align: center;
    margin-left: 10%;
}

section {
    margin-left: 10%;
    margin-right: 10%;
}
td,h1,h2,p {
  font-family: Tahoma, Geneva, sans-serif;
}